<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABbPWN5YSJr4U5eWt52MDP38F2F1y6g1E</string>
	<key>GCM_SENDER_ID</key>
	<string>533108761673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jay</string>
	<key>PROJECT_ID</key>
	<string>jaytest-689b8</string>
	<key>STORAGE_BUCKET</key>
	<string>jaytest-689b8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533108761673:ios:98ef95a20150c2cd84cb98</string>
</dict>
</plist>